package pages

import (
    "github.com/heitorlessa/orr-sample/web/layouts"
)

templ Home() {
    @layouts.Base() {
        <main>
            <h1>Testing Go Templ with Live Reload!</h1>
        </main>
    }
}